/* 
Basically, a CSS “object” is a repeating visual pattern, that can be abstracted into an independent snippet of HTML, CSS, and possibly JavaScript
*/

/* Example Module */
.mod { }

/* Part of Module */
.inner { }

/* Talk Module */
.talk { }

/* Variation of part inside Module */
.talk .inner { }


/**************************************************************************
<div class="mod">
        <div class="inner">
                <div class="hd">Block Head</div>
                <div class="bd">Block Body</div>
                <div class="ft">Block Foot</div>
        </div>
</div>
*/

.tooltip:hover .tooltip_body {
	display: inline;
	position: absolute;
	text-decoration: none;
	color: #000;
	background: #FFFFAA;
	border: 1px solid #DDCCAA;
	-webkit-box-shadow: 3px 3px 8px #CCC;
	-moz-box-shadow: 3px 3px 8px #CCC;
	box-shadow: 3px 3px 8px #CCC;
}
.tooltip_body {
	display: none;
	padding: .5em;
	margin-top: 1.5em;
	z-index: 10;
}

/**************************************************************************
<p>
  <a href="#" class="tooltip">
    Example of Text Tooltip
    <span class="tooltip_body">Title</span>
      <br>
      Description of the tooltip.
    </span>
  </a>
</p>
*/

/*Wrapper for the media object*/
.media{  }

/*Child node of the media object. Generally a link, image, or flash wrapper. 
Will appear to the left of the .bd. Optional region.*/
.img{  }

/*Main content area for the media object, can contain any other objects. 
Protected. Required region.*/
.bd{  }

/*Child node of the media object. Generally a link, image, or flash wrapper. 
Will appear to the right of the .bd. Optional region.*/
.imgExt{  }


/**************************************************************************
<div class="media">
	<a href="http://twitter.com/stubbornella" class="img">
		<img src="http://a3.twimg.com/profile_images/72157651/tattoo_pink_bkg_square_mini.jpg" alt="Stubbornella" />
	</a>
	<div class="bd">
		<a href="http://twitter.com/stubbornella">@Stubbornella</a> <span class="detail">14 miniutes ago</span>
	</div>
</div>

*/