// **************************************************************/
// Button Switch
// **************************************************************/

%hidden-element{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	z-index: -1;
	opacity: 0;
	border: 0;
	overflow: hidden;
}

.custom-control-inline.custom-radio-switch{
	input{
		@extend %hidden-element;

		&:checked + label {
			@include gradient-bg($c-purple-d);
			color: $c-white;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		&:checked + label:nth-of-type(3n+3) {
			@include gradient-bg($c-aqua-d);
			color: white;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	label {
		float: left;
		display: inline-block;
		width: 120px;
		margin-bottom: 2em;
		@include gradient-bg($c-grey-l);
		color: rgba(0, 0, 0, 0.6);
		font-size: 14px;
		font-weight: normal;
		text-align: center;
		text-shadow: none;
		padding: 1em 1.5em;
		// border: 1px solid rgba(0, 0, 0, 0.2);
		@include transition($time: 0.1s);
		@include boxshadow();

		&:hover {
			cursor: pointer;
			@include gradient-bg($c-grey-d);
			color: $c-white;
		}

		// left pill
		&:first-of-type {
			border-radius: 4px 0 0 4px;
		}

		// right pill
		&:last-of-type {
			border-radius: 0 4px 4px 0;
		}
	}
} 

.control.control-radio{
	position: relative;
	cursor: pointer;
	padding: .25em 1.75em;
	margin: .25em 1.25em;

	input{
		@extend %hidden-element;
	}

	.control-indicator{
		position: absolute;
		top: 15%;
		left: 0;
		width: 24px;
		height: 24px;
		padding: 0;
		text-align: center;
		background: $c-grey-l;
		border-radius: 100%;
	}

	// hover state
	&:hover input ~ .control-indicator,
	input:focus ~ .control-indicator{
		background: $c-grey-d;
	}

	// checked
	input:checked ~ .control-indicator{
		background: $c-aqua-l;
		color: $c-blackish;
	}

	// not checked
	input:not(checked) + .control-indicator{
		color: transparent;
	}

	// checked hover state
	&:hover input:not([disabled]):checked ~ .control-indicator,
	input:checked:focus ~ .control-indicator{
		background: $c-aqua-d;
	}
}
