.form-group{
	width: 100%;
	margin-bottom: 10px;
}
.card{ /*I know bootstrap has utilities but this was getting out of control*/
	width: 100%;
	height: 100%;
	text-align: center;
}
.btn-add{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: .5rem 1rem;
}
.card-footer{
	padding: 0;
}
.hideme{
	visibility: hidden;
}