<html>
<head>
	<title>MadLib Maker</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
	<script type="text/javascript" src=""https://code.jquery.com/jquery-3.2.1.min.js></script>
	<script type="text/javascript" src="/assets/main.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="make-a-lib">
				<form>
					<fieldset>
						
					</fieldset>
				</form>
			</div>
			<div class="read-your-lib">
			</div>
		</div>
	</div>
</body>
</html>