<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>My SPA</title>
	<meta charset="utf-8">

	<link href="css/main.css" rel="stylesheet" />
	<!-- Include the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/NavCtrl.js"></script>
    <!-- Directives -->
    <script src="js/directives/pageTiles.js"></script>
</head>
<body ng-controller="NavCtrl">
	<div>
		<nav>
			<h4>{{webContents[curNav].name}}</h4>
			<ol class="nav-indicators">
				<li ng-repeat="item in webContents" ng-class="{ active: isSet($index) }" ng-click="changeTo($index)">{{item.name}}</li>
			</ol>
		</nav>
	<main>
		<div class="row">
			<div ng-repeat="contents in webContents[curNav].contents">
				<page-tiles tile="contents"></page-tiles>
			</div>
		</div>
		<!-- https://tympanus.net/codrops/2017/10/17/dynamic-shape-overlays-with-svg/ -->
	</main>
	</div>
	<footer ng-view></footer>
</body>
</html>